body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image: url('./imgs/F1-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.header{
  display: flex;
  justify-content: space-between;
}
.left{
  font-weight: bold;
  cursor: pointer;
}
.right{
  font-weight: bold;
  cursor: pointer;
  color: black;
}
.section-1{
    display: flex;
    justify-content: center;
}
.p1{
    font-size: xx-large;
    padding-top: 68px;
    color: #f01717;
}
.text-box-left, .bottom-section {
  padding: 15px;
  padding-bottom: 0%;
  text-align: justify;
  font-weight: bold;
  padding-left: 10%;
  padding-right: 10%;
}
.img2, .img3{
  height: 450px;
  width: 750px;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding: 15px;
  padding-bottom: 0%;
}
.caption{
  font-size: small;
  color: #3e4857e6;
}
.list{
  list-style: none;
}